useDynLib(NPVecchia, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "coef", "lm", "na.omit", "sd", "summary.lm", "optim", "rnorm")
importFrom("MASS", "ginv", "mvrnorm")
importFrom("Matrix", "sparseMatrix", "tcrossprod")
importFrom("fields", "rdist", "Matern", "Exponential")
importFrom("matrixStats", "colMins", "rowMins")
importFrom("GpGp", "find_ordered_nn")
importFrom("stats", "cov", "cov2cor")
importFrom("invgamma", "rinvgamma")
